.sidebarOption {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.logo-home {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}
.sidebarOption > h2 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}
.sidebarOption:hover {
    background-color: var(--button-bg);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebar-container {
    min-width: 150px;
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-right: 20px;
    max-height: calc(100vh - 20px);
    overflow-y: scroll;
    scrollbar-width: none;
}
.sidebar-mobile {
    width: 90%;
    padding-left: 15px;
    max-height: calc(100vh - 20px);
    overflow-y: scroll;
    scrollbar-width: none;
}
.sidebar-tweet {
    width: 100%;
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    border-radius: 30px !important;
    height: 35px !important;
    margin-top: 30px !important;
}
.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
}
.user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-info > h4 {
    font-size: 14px;
    margin: 2px 0px;
}
.user-info > h5 {
    opacity: 50%;
    margin: 2px 0px;
}

.user-details > h4,
.user-details > h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.done-icon {
    color: var(--twitter-color) !important;
    margin-left: 5px;
}
/* for tweet button */
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}
.css-137ul40-MuiButtonBase-root-MuiIconButton-root {
    margin-left: 0px !important;
    padding-left: 2px !important;
}
@media screen and (max-width: 688px) {
    .sidebar-tweet {
        display: none;
    }
    .sidebar-container {
        display: none;
    }
}
