.post {
    margin: 0px 3px;
    width: 100%;
    overflow: hidden;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
}
.post-body {
    width: 100%;
}
.post-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}
.post-heading > h5 {
    margin-left: 5px;
    margin-block-start: 3px;
}
.post-heading > h3 {
    margin-block-start: 0px;
}
.username {
    color: rgb(55, 55, 55);
}
.date-time {
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.post-header-body {
    padding: 5px;
}
.post-header-badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.post-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-image {
    width: calc(100% - 6px);
    border-radius: 5px;
    object-fit: contain;
}
.post-footer {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    margin: 5px;
}
.reaction-icons {
    cursor: pointer;
}
.comment-dropdown-icon {
    position: relative;
    top: 2px;
    cursor: pointer;
}
