.profile-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    box-shadow: 0 9px 11px -10px rgba(0, 0, 0, 0.2);
}
.cover-image,
.profile-image {
    width: 20vw !important;
    height: 20vw !important;
    margin: 2px;
}
.cover-image-container,
.profile-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.profile-body {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 450px) {
    .cover-image,
    .profile-image {
        width: 30vw !important;
        height: 30vw !important;
    }
}
