.profile-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.profile-image {
    width: 10vw !important;
    height: 10vw !important;
    border: 5px solid white;
}
.profile-image-container {
    position: relative;
    bottom: calc(36px + 6vw);
    left: 15px;
}
.fullname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user-credentials {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
}
.fullname > h3 {
    margin-block-start: 0px;
    margin-block-end: 0px !important;
}
.user-credentials > h5 {
    margin-block-start: 2px;
}
.user-posts-container {
    position: relative;
    bottom: calc(36px + 6vw);
}
.profile-image:hover {
    cursor: pointer;
}
.no-posts {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
.cover-image {
    width: 100%;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}
.cover-image > img {
    height: 13vh;
    width: 100%;
}
.camera-icon {
    color: white !important;
    font-size: 7vw !important;
}
.focus-icon {
    color: white !important;
    font-size: 28px !important;
    padding: 3px;
    cursor: pointer;
}
.image-upload-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 12vw;
}
.profile-body {
    height: calc(100vh - 75px);
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.loading-container {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts-heading-container {
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.posts-heading {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
}
.highlight {
    padding: 3px;
    width: 20vw;
    border-radius: 10px;
    background-color: var(--twitter-color);
    position: relative;
    top: 4px;
}
@media (max-width: 800px) {
}

@media (max-width: 450px) {
}
