.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-posts-container {
    width: 100%;
    min-width: 200px;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.posts {
    margin-top: 5px;
    height: calc(100vh - 155px);
    overflow-y: scroll;
    scrollbar-width: none;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
}
.single-post {
    width: 100%;
}
